@font-face {
	font-family: "Computer Modern";
    src: url('./fonts/cmunrm.ttf');
}

body {
    margin: 20px auto;
    width: 80%;
    font-family: "Computer Modern";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 26, 26);
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 35px;
}

nav li a:hover:not(.active) {
    background-color: rgb(219, 53, 53);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(232, 240, 240, 0.993);
}
  
footer li {
    float: left;
}
  
footer li a {
    display: block;
    color: #4c4a4e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 25px;
}
  
footer li a:hover:not(.active) {
    background-color: rgb(89, 153, 226);
}

img[src$="centerme"] {
    display: block;
    margin: 0 auto;
}